.current-panels{
    position: relative;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(90deg, rgb(248, 248, 248) 0%, rgb(171, 230, 241) 100%);
}