.nav-bar{
    background: rgb(79,77,77);
    background: linear-gradient(90deg, rgba(79,77,77,0.8631827731092436) 0%, rgba(57,57,57,0.8169642857142857) 70%);
    text-decoration: none;
}

.navbar-title{
    color: white;
}

.nav-items{
    text-decoration: none;
    color: aliceblue;
}

.link{
    text-decoration: none;
}